<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Mini</title>
  </head>
  <body>
    <form autocomplete="off">
      <label for="credentials">Credentials</label>
      <input type="text" id="credentials" />
      <label for="vote">Vote</label>
      <input type="number" id="vote" />
      <button type="button" id="send">Send</button>
    </form>
    <h3>Bulletin Board</h3>
    <ul id="board"></ul>
    <button type="button" id="tally">Tally</button>

    <script src="/static/helpers.js"></script>
    <script src="/static/client.js"></script>
  </body>
</html>
